.DS_Store
apps/vaporgui/guis/ui/*.h
apps/vaporgui/moc/
lib/idl/IDLMetadataAuto.cpp
lib/render/moc/
share/doc/Doxygen/Doxyfile
site.mk
targets/
.ycm_extra_conf.py
make/Darwin/VaporXcode/vaporXcode.xcodeproj/project.xcworkspace/
make/Darwin/VaporXcode/vaporXcode.xcodeproj/xcuserdata/
plugins/visit/CMakeCache.txt
plugins/visit/CMakeFiles/
plugins/visit/CMakeLists.txt
plugins/visit/Makefile
plugins/visit/WASP/CMakeCache.txt
plugins/visit/WASP/CMakeFiles/
plugins/visit/WASP/CMakeLists.txt
plugins/visit/WASP/Makefile
plugins/visit/WASP/WASP.xml.bak
plugins/visit/WASP/cmake_install.cmake
plugins/visit/vdf.xml.bak
plugins/visit/VDC/CMake*
share/fonts/Pacifico.ttf

tags

# CMake
Makefile
cmake_install.cmake
CmakeFiles
CMakeCache.txt
site.local
bin
/build
/xcode
/apps/vaporgui/ui/
/buildutils/LinuxInstallLibs.txt


# vim swap files
apps/vaporgui/*.swp
include/vapor/*.swp
lib/render/*.swp
lib/params/*.swp
