[Desktop Entry]
Type=Application
Name=VAPOR
Comment=Visualization and Analysis Platform for Ocean, Atmosphere, and Solar Researchers
Exec=bin/vapor
Icon=VAPOR
Categories=Office;
